/* Generales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:  hsl(234, 29%, 20%);
}

main {
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto 0;
padding: 3rem 0;
}

.newsletter {
max-width: 60%;
min-width: 38%;
margin: 4rem auto;
justify-content: center;
align-items: center;
}

.container__newsletter {
display: grid;
background-color: rgb(255, 255, 255);
grid-template-columns: repeat(2, 1fr);
grid-auto-columns: (50%, auto);
border-radius: 15px;
}


.svg {
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 3;
padding: 0;
}

.svg--img {
object-fit: cover;
width: 100%;
height: 100%;
margin: 0;
padding: .3rem;
border-radius: 15px;
}

.newsletter__texts {
grid-column-start: 1 ;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 3;
padding: 4rem 1rem .4rem 1rem;
width: 90%;
height: 100%;
}

h1 {
font-weight: 700;
font-size: 3rem;
text-align: left;
padding-top: .5rem;
margin: 0;
}

p {
padding: 1rem 0;
font-size: 16px;
font-weight: 500;
}

p img {
padding: 0 3px;
}

.inputs {
padding: 0 .1rem;
margin: 0 auto;
}

#write {
display: block;
width: 100%;
padding: .2rem;
margin: 0 auto;
border-radius: 10px;
border-color: rgba(158, 158, 158, 0.129);
}

small {
font-size: 10px;
}

#login--text {
  font-size: 12px;
  color:  hsl(4, 100%, 67%);
  padding: 0 25px;
  }

  #write:visited{
    background-color: rgba(191, 37, 37, 0.61);
    border: 2px groove rgb(192, 106, 106);
    color: rgb(245, 168, 168);
  }

   #write:required{ 
    background-color: rgba(250, 247, 247, 0.692);
    color: rgb(219, 115, 115);
    border-color: rgb(219, 137, 137);
  }

.submit__input {
display: block;
width: 100%;
background-color: hsl(234, 29%, 20%);
color: white;
padding: .4rem 1.5rem;
border-radius: 10px;
}

.submit__input:hover {
background-color: tomato;
box-shadow: .2rem .2rem .2rem orange;
}

.submit__input:active {
background-color: hsl(4, 100%, 67%);
box-shadow: .2rem .2rem .2rem rgb(244, 39, 189);
}
/* Maximo de 900px del ancho de pantalla  */
@media (min-width:601px) and (max-width:900px) {
    /* Generales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:  hsl(234, 29%, 20%);
}

main {
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto 0;
padding: 4rem 0;
}

.newsletter {
max-width: 70%;
min-width: 38%;
margin: 5rem auto;
justify-content: center;
align-items: center;
}

.container__newsletter {
display: grid;
background-color: rgb(255, 255, 255);
grid-template-columns: repeat(2, 1fr);
grid-auto-columns: (50%, auto);
border-radius: 15px;
padding: 1% .5% 1% 3%;
}


.svg {
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 3;
padding: 0;
}

.svg--img {
object-fit: cover;
width: 100%;
height: 100%;
margin: 0;
padding: .3rem;
border-radius: 15px;
}

.newsletter__texts {
grid-column-start: 1 ;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 3;
padding: 4rem 1rem .4rem 1rem;
width: 100%;
height: 95%;
margin-bottom: 25px;
}

h1 {
font-weight: 700;
font-size: 2rem;
text-align: left;
padding: 0;
margin: 0;
}

p {
padding: .2rem 0;
font-size: 16px;
font-weight: 500;
}

p img {
padding: 0 3px 0 0;
}

.inputs {
padding: 0 .1rem;
margin: 0 auto;
}

#write {
display: block;
width: 100%;
padding: .3rem;
margin: 0 auto;
border-radius: 10px;
border-color: rgba(158, 158, 158, 0.129);
}

small {
font-size: 12px;
}

#login--text {
font-size: 12px;
color:  hsl(4, 100%, 67%);
padding: 0 25px;
}

.submit__input {
display: block;
width: 100%;
background-color: hsl(234, 29%, 20%);
color: white;
padding: .3rem 1.5rem;
border-radius: 10px;
}

.submit__input:hover {
  background-color:  hsl(4, 100%, 67%);
box-shadow: .2rem .2rem 2rem .1rem hsl(4, 55%, 47%)
}


.submit__input:active {
background-color: hsl(4, 100%, 67%);
box-shadow: .2rem .2rem .2rem rgb(251, 100, 6);
}
}

/* Maximo 600px de ancho de la pantalla */
@media (max-width:600px) {
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

* {
box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
background-color: white;
}

main {
display: grid;
padding: 0;
margin: 0;
align-content: start;
}

.newsletter {
max-width: 100%;
width: 100%;
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: (1, 1fr);
grid-auto-rows: auto;
grid-auto-columns: (270px, auto);
justify-content: start;
}

.container__newsletter {
background-color: rgb(255, 255, 255);

display: grid;
align-items: stretch;
}



.svg {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
height: 80%;
margin-top: -50%;
}

.svg--img {
object-fit: cover;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

.newsletter__texts {
grid-column-start: 1 ;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
margin-top: -70%;
}

h1 {
margin: 0;
text-align: left;
font-size: 3rem;
}

p {
font-weight: 500;
font-size: 16px;
}

p img {
padding: 0 2px;
}

.inputs {
margin: 0 auto;
}

#login--text {
  font-size: 12px;
  color:  hsl(4, 100%, 67%);
  padding: 0 5px;
  }
}


